/* start of general content content */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.carousel-inner > .carousel-item > img {
    width:30rem;
    height:25rem;
  }

  #main-navbar
  {
      text-transform: uppercase;
      background-color: rgba(0,0,0,0.5);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
  }

  .yellow
  {
      color: #FFB548;
  }

/* start of section-1 content */
#start-content-1
{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(/ch3/assets/imgs/main-bg.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

#section-1
{
    text-align: center;
    height: 90vh;
    position: relative;
}
#fcs
{
    width: inherit;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title-first-content
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#btn-play-now
{
    border-radius: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

#sub-title-first-content
{
    font-weight: normal;
    color: #FFFFFF;
}
/* start of section-2 content */


#start-content-2
{
    height: 100vh;
    width: 100%;
    background-image: url(/ch3/assets/imgs/the-games-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF; 
}

#section-2
{
    height: 100vh;
}
#section-2-right-column-wrapper
{
    margin-top: 15rem;
}
#section-2-left-column-wrapper
{
    margin-top: -3.54rem;
    margin-left: 2rem;
}

#section-2-left-column-wrapper .display-4
{
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}



/* start of section-2a content */


#start-content-2a
{
    height: 100vh;
    width: 100%;
    background-image: url(/ch3/assets/imgs/features.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: wheat; 
}

#section-2a
{
    height: 100vh;
}

#sub-section-2a
{
    height: 100vh;
}
#section-2a-right-column-wrapper
{
    margin-top: 10rem;
    position: relative;
}
#section-2a-left-column-wrapper
{
    margin-top: -3.54rem;
    margin-left: 2rem;
}

#section-2a-left-column-wrapper .display-4
{
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

#section-2a-tables
{
    color: wheat;
}

#title-2a
{
    vertical-align: middle;
    text-align: center;
}

#content-wrapper-2a
{
    position: absolute;
    top: 30%;
}
.sub-ul-content
{
    color: #FFB548;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}
/* start of section-2b content */


#start-content-2b
{
    height: 100vh;
    width: 100%;
    background-image: url(/ch3/assets/imgs/requirements.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: wheat; 
}

#section-2b
{
    height: 100vh;
}
#section-2b-right-column-wrapper
{
    margin-top: 15rem;
}
#section-2b-left-column-wrapper
{
    margin-top: -3.54rem;
    margin-left: 2rem;
}

#section-2b-left-column-wrapper .display-4
{
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

#section-2b-tables
{
    color: wheat;
}

#title-2b
{
    vertical-align: middle;
    text-align: center;
}


/* start of section-3 content */

#start-content-3
{
    height: 100vh;
    width: 100%;
    background-image: url(/ch3/assets/imgs/Rectangle\ 4.1.png);
    background-color: #343a40;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat; 
}
#section-3-right-column
{
    flex-direction: column;
}

#section-3-right-column-wrapper
{
    margin-left: 10rem;
}

#even-content-section-3-right-column-wrapper
{
    margin-left: -10rem;
}


/* start of section-4 content */

#start-content-4
{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: wheat;
}


#section-4
{
    height: 100vh;
    width: 100%;
}

.img-section4
{
    width: 60%;
    height: auto;
}

#section-4-left-column
{
    display: flex;
}

#damenta-img
{
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
}

/* starts of custom media query*/

.responsive-damenta
{
    width: 25rem; 
    height: 10rem; 
    background-color: gray;
}

@media only screen and (max-width: 768px) {
    #start-content-3
    {
        background-color: salmon;
    }
    #section-3-right-column-wrapper
    {
        margin-left: 0rem;
        margin-top: -3rem;
    }
    #section-3-left-column-wrapper
    {
        margin-top: 3rem;
        text-align: center;
        margin-left: 1rem;
    }
    #even-content-section-3-right-column-wrapper
    {
        margin-left: 0rem;
    }
    
    .responsive-damenta
    {
        width: 20rem; 
        height: 10rem; 
        background-color: gray;
    }

    #section-2-left-column-wrapper
    {
        margin-top: 5rem;
        margin-left: 1rem;
        justify-content: center;
        text-align: center;
    }

    #section-2-right-column-wrapper
    {
        padding-top: -3rem;
    }
    #section-2-right-column
    {
        margin-top: -15rem;
    }
  }

  .horizontal-line-comp
  {
      border: 1px white solid;
  }

  .style-footer-customs
  {
      background-color: black;
  }
  .style-footer-customs  a,p
  {
      color: white;
  }